<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fossasia.pslab">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity.AboutUs" />
        <activity android:name=".activity.HelpAndFeedback" />
        <activity android:name=".activity.ReportUs" />
        <activity android:name=".activity.PerformExperimentActivity" />
        <activity
            android:name=".activity.ControlActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.OscilloscopeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SensorActivity" />
        <activity
            android:name=".activity.LogicalAnalyzerActivity"
            android:configChanges="screenSize|orientation" />

        <receiver android:name=".receivers.USBDetachReceiver" />
    </application>

</manifest>
