<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.pslab">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        tools:replace="android:icon"
        android:name=".PSLabApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ThermometerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".activity.RoboticArmActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ShowLoggedData" />
        <activity
            android:name=".activity.ControlActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.OscilloscopeActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.SensorActivity" />
        <activity
            android:name=".activity.LogicalAnalyzerActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SensorDataLoggerActivity" />
        <activity
            android:name=".activity.MultimeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PowerSourceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LuxMeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaveGeneratorActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".activity.AccelerometerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DataLoggerActivity" />
        <activity
            android:name=".activity.BarometerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GyroscopeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MapsActivity" />

        <receiver android:name=".receivers.USBDetachReceiver" />

        <activity android:name=".sensors.SensorADS1115" />
        <activity android:name=".sensors.SensorBMP180" />
        <activity android:name=".sensors.SensorHMC5883L" />
        <activity android:name=".sensors.SensorMLX90614" />
        <activity android:name=".sensors.SensorMPU925X" />
        <activity android:name=".sensors.SensorSHT21" />
        <activity android:name=".sensors.SensorMPU6050" />
        <activity android:name=".sensors.SensorTSL2561" />
        <activity android:name=".activity.SensorGraphViewActivity" />
    </application>

</manifest>