<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.DUMP"/>

    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".PSLabApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.SoundMeterActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activity.CreateConfigActivity" />
        <activity
            android:name=".activity.ThermometerActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RoboticArmActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="user"
            android:theme="@style/AppThemeSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ShowLoggedData" />
        <activity
            android:name=".activity.ControlActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.OscilloscopeActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.SensorActivity" />
        <activity
            android:name=".activity.LogicalAnalyzerActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.SensorDataLoggerActivity" />
        <activity
            android:name=".activity.MultimeterActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.PowerSourceActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LuxMeterActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.WaveGeneratorActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.AccelerometerActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activity.DataLoggerActivity" />
        <activity
            android:name=".activity.BarometerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.CompassActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.GyroscopeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.GasSensorActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activity.MapsActivity" />
        <activity
            android:name=".activity.DustSensorActivity"
            android:screenOrientation="fullSensor" />

        <receiver android:name=".receivers.USBDetachReceiver" />

        <activity android:name=".sensors.SensorADS1115" />
        <activity android:name=".sensors.SensorBMP180" />
        <activity android:name=".sensors.SensorHMC5883L" />
        <activity android:name=".sensors.SensorMLX90614" />
        <activity android:name=".sensors.SensorMPU925X" />
        <activity android:name=".sensors.SensorSHT21" />
        <activity android:name=".sensors.SensorMPU6050" />
        <activity android:name=".sensors.SensorTSL2561" />
    </application>

</manifest>
